doctype html
html(lang='tr')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='robots', content='noindex, nofollow')
    meta(name='robots', content='nofollow, noindex')

    title= "App"

    link(href='../stylesheets/bootstrap.css', rel='stylesheet')

  body
  
    nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
      center
          h3= "Mail Send"

    block content

    script( src='../javascripts/jquery.js' )
    script( src='../javascripts/bootstrap.js' )
    script( src='../javascripts/app.js' )
